.mainCont{
    /* height: 100vh; */
}
.topBar{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.story{
    width: 30%;
}
#a{
    border: 4px solid lightgreen;
    border-radius: 20px;
    cursor: pointer;
}

.creatName{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.authors{
    /* height: 350px; */
    padding: 15px;
    background-color: rgb(218, 218, 218);
    /* width: 350px; */
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.authors:hover{
    transition: 0.9s ease-in-out;
    background-color: cyan;
}
@media only screen and (max-width: 600px)  {
    .story{
        width: 100%;
        margin-bottom: 20px;
    }
    
    
}